.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 85vh;
  .infoSection {
    min-width: 50vw;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    margin-top: 7rem;
    padding-left: 10rem;
    box-sizing: border-box;
    .infoDecoration {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      .circle {
        background-color: #ff1689;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        box-shadow: 0 0 30px 2.5px #ff1689;
      }
      .line {
        background: linear-gradient(to bottom, #ff1689, rgba(255, 22, 137, 0));
        height: 40vh;
        width: 5px;
        box-shadow: 0 -80px 40px 2px #ff1689;
        border-radius: 15px;
      }
    }

    .info {
      height: fit-content;
      color: white;
      font-size: 74px;
      font-weight: 1000;
      b {
        color: #ff1689;
      }
      .caption {
        margin-top: 1.5rem;
        font-size: 36px;
      }
      button {
        height: 3rem;
        width: 10rem;
        color: white;
        background-color: black;
        font-weight: 1000;
        border-radius: 5px;
        border: 1px solid #ff1689;
        box-shadow: 0 0 4px 2px #ff1689;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(0.9, 0.9);
        }
      }
    }
    @media (max-width: 920px) {
      padding-left: 0rem;
    }
  }

  .homeLogo {
    height: 85vh;
    width: 50vw;

    img {
      height: 100%;
      width: 100%;
    }
    @media (max-width: 928px) {
      display: none;
    }
  }

  @media (max-width: 508px) {
    transform: scale(0.8, 0.8);
  }

  .scollToAbout {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5rem;
    // left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      height: 35px;
      width: 35px;
    }
  }
}
